.Title {
    color: #cba6f7;
    font-family: Lexend;
    right: 750px;
    top: 80px;
    position: fixed;
    font-size: 50px;
}

body {
    background-color: #11111b;
}

.Websites {
    background-color: #1e1e2e;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    right: 580px;
    bottom: 450px;
    position: fixed;
    border-color: #45475a;
    border-radius: 20px;
}

.WebsiteTitle {
    color: #89b4fa;
    font-family: Lexend;
    font-size: 30px;
}

a {
    color: #cdd6f4;
    font-family: Lexend;
    text-decoration: none;
    font-size: 20px;
}

.links {
    display: flex;
    flex-direction: column;
}

img {
    position: fixed;
    width: 320px;
    height: 260px;
    border-radius: 20px;
    border-color: #1e1e2e;
    border-width: 50px;
}

.icon2 {
    position: fixed;
    left: 650px;
    bottom: 715px;
}

.Time {
    background-color: #1e1e2e;
    color: #f9e2af;
    font-family: Lexend;
    font-size: 60px;
    position: fixed;
    width: 550px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 570px;
    bottom: 200px;
    border-radius: 20px;
    padding: 50px 80px;
}